---
import { fetchYoutubeVideos } from '../../services/youtube';

const videos = await fetchYoutubeVideos();
---
<div class='youtube-videos'>
	{videos.map((video: any) => (
		<a class="card card-small youtube-videos__item group" href={`https://youtube.com/watch?v=${video.id}`} target="_blank" rel="noopener noreferrer">
			<div class="youtube-videos__thumbnail-wrapper">
				<img src={video.thumbnail} alt={video.title} class="youtube-videos__thumbnail" />
				<div class="youtube-videos__overlay"></div>
			</div>
			<div class="youtube-videos__info">
				<h3 class="youtube-videos__title">{video.title}</h3>
				<p class="youtube-videos__meta">Video</p>
			</div>
		</a>
	))}
</div>

<style lang="scss">
	@use "./YoutubeVideos.scss";
</style>
