---
---

<a href="/chat" class="card chat-card" transition:name="chat-box">
	<div class="chat-card__icon-container">
		<i class="fa-solid fa-robot chat-card__icon"></i>
	</div>
	<p class="chat-card__text">Chat with my AI assistant!</p>
</a>

<style lang="scss">
	@use "./ChatButton.scss";
</style>
