---
import { Icon } from "astro-icon/components";
---

<a href="/chat" class="card chat-card" transition:name="chat-box">
	<div class="chat-card__icon-container">
		<Icon name="fa6-solid:robot" class="chat-card__icon" />
	</div>
	<p class="chat-card__text">Chat with my AI assistant!</p>
</a>

<style lang="scss">
	@use "./ChatButton.scss";
</style>
