---
---
<a href="/chat" class="card chat-card group" transition:name="chat-box">
	<div class="chat-icon-container">
		<i class="fa-solid fa-robot chat-icon"></i>
	</div>
	<p class="chat-text">Chat with my AI assistant!</p>
</a>

<style lang="scss">
	@use "./ChatButton.scss";
</style>
