---
import chatIcon from "../../assets/images/chat.png";
import { Image } from "astro:assets";
import "./chat.scss";
---
<div class="chat-button">
	<Image src={chatIcon} alt="Chat icon" class="chat-button__icon" />
	<p class="chat-button__description">Chat with my AI assistant!</p>
</div>
