.chat-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 12px;
	cursor: pointer;
	height: 100%;
	text-decoration: none;

	&:hover {
		background-color: var(--color-card-hover);

		.chat-card__icon-container {
			background-color: var(--color-primary);
			color: #ffffff;
		}
	}

	&__icon-container {
		width: 56px;
		height: 56px;
		background-color: rgba(19, 91, 236, 0.1);
		border-radius: 9999px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--color-primary);
		transition: background-color 0.3s, color 0.3s;
	}

	&__icon {
		font-size: 24px;
	}

	&__text {
		font-weight: 500;
		font-size: 14px;
		color: var(--color-text);

		@media (min-width: 768px) {
			font-size: 16px;
		}
	}
}