---
import { Image } from "astro:assets";

const { link, image, text } = Astro.props;
---

<a href={ link } class="social" target="_blank" rel="noopener noreferrer">
	<Image
		src={ image }
		alt={ text }
		width={ 120 }
		height={ 120 }
		class="social__icon"
	/>
	<p class="social__text">{ text }</p>
</a>

<style>
	.social {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 15px;
		width: 100%;
		height: 100%;
	}

	.social__icon {
		width: 80px;
		height: auto;
		margin: auto;
	}

	.social__text {
		text-align: center;
	}
</style>


