.social {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
	transition: all 0.3s;
	text-decoration: none;
	height: 100%;

	&:hover {
		background-color: var(--color-card-hover);

		.social__icon {
			transform: scale(1.1);
		}
	}

	&__icon {
		font-size: 30px;
		transition: transform 0.3s;
		color: var(--color-text);
	}

	&__text {
		font-size: 12px;
		font-weight: 500;
		margin-top: 4px;
		color: var(--color-text);
	}
}