---
import { Icon } from "astro-icon/components";
const { link, icon, color, text } = Astro.props;
---
<a href={link} class="card card--small social" target="_blank" rel="noopener noreferrer">
	<Icon name={`fa6-brands:${icon.replace('fa-', '')}`} class="social__icon" style={color && color !== 'inherit' ? `color: ${color};` : ''} />
	<span class="social__text">{text}</span>
</a>

<style lang="scss">
	@use "./Social.scss";
</style>
