---
const { link, icon, color, text } = Astro.props;
---
<a href={link} class="card card-small social" target="_blank" rel="noopener noreferrer">
	<i class={`fa-brands ${icon} social__icon`} style={color && color !== 'inherit' ? `color: ${color};` : ''}></i>
	<span class="social__text">{text}</span>
</a>

<style lang="scss">
	@use "./Social.scss";
</style>
