---
const { title, description, url } = Astro.props;
---
<div class="card channel-card">
	<div class="channel-header">
		<i class="fa-brands fa-youtube youtube-channel__icon"></i>
		<span class="channel-badge">Youtube</span>
	</div>
	<h3 class="font-display channel-title">{title}</h3>
	<p class="text-muted channel-description">{description}</p>
	<a class="visit-link" href={url} target="_blank" rel="noopener noreferrer">
		Visit Channel <i class="fa-solid fa-arrow-right icon-arrow"></i>
	</a>
</div>

<style lang="scss">
	@use "./YoutubeChannel.scss";
</style>
