---
import './GridItem.scss';
const { name, url } = Astro.props;

const tag = url ? 'a' : 'div';
---
{ url ? (
	<a class="grid-item" style={`grid-area: ${name}`} href={url}>
	  <slot />
	</a>
  ) : (
	<div class="grid-item" style={`grid-area: ${name}`}>
	  <slot />
	</div>
) }
