---
import PageLayout from "../layouts/PageLayout.astro";
import Chats from "../components/Chat/Chats.astro";
---
<PageLayout title="AI Chat - Yash Kukreja">
	<div style="display: flex; flex-direction: column; width: 100%; flex: 1; min-height: calc(100vh - 4rem);" transition:name="chat-box">
		<Chats />
	</div>
</PageLayout>
