---
import Layout from "../layouts/Layout.astro";
import Chats from "../components/Chat/Chats.jsx";
---
<Layout title="Chat">
	<h1>Chat with my AI bot</h1>
	<div class="chat">
		<Chats client:only="react" />
	</div>
</Layout>
