---
import PageLayout from "../layouts/PageLayout.astro";
import Chat from "../components/Chat/Chat.jsx";
---

<PageLayout title="AI Chat - Yash Kukreja">
	<div class="chat-page-container" transition:name="chat-box">
		<Chat client:load />
	</div>
</PageLayout>

<style lang="scss">
	@use "./_chat.scss";
</style>
