---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Grid from "../components/Grid/Grid.astro";
import GridItem from "../components/GridItem/GridItem.astro";
import Profile from "../components/Profile/Profile.astro";
import Notice from "../components/Notice/Notice.astro";
import Experience from "../components/Experience/Experience.astro";

import ProfileImagePath from "../assets/images/profile.jpeg";
import YoutubeChannel from "../components/YoutubeChannel/YoutubeChannel.astro";
---

<Layout title={ SITE_TITLE }>
	<Notice
		notice="Work is in Progress!"
	/>
	<Grid>
		<GridItem name="p-info">
			<Profile
				title="I'm Yash Kukreja"
				description="I'm a content creator and software engineer who loves creating solutions!"
				image={ ProfileImagePath }
			/>
		</GridItem>
		<GridItem name="p-expn">
			<Experience>
				<strong>rtCamp</strong> 
				<span><em>Software Engineer</em> | 2023 - Present</span>
				<ul>
					<li>Worked with a leading enterprise travel company to craft and enhance their user-facing website.</p>
					<li>Collaborated closely with the marketing team to implement A/B testing</p>
					<li>Technologies: WordPress & Gutenberg, TypeScript, SCSS and Blade.</li>
				</ul>
			</Experience>
		</GridItem>
		<GridItem name="yt-cnt">
			<h3>Latest Youtube Content</h3>
		</GridItem>
		<GridItem name="yt-chn">
			<YoutubeChannel
				title="How's the Code?"
				description="I create content around Software Engineering, Web Development, and Tech!"
			/>
		</GridItem>
		<GridItem name="nl-sub">
			<h3>Newsletter Subscription</h3>
		</GridItem>
		<GridItem name="bl-cnt">
			<h3>Blog Content</h3>
		</GridItem>
		<GridItem name="p-lkdn">
			<h3>LinkedIn Profile</h3>
		</GridItem>
		<GridItem name="p-xcom">
			<h3>X Profile</h3>
		</GridItem>
		<GridItem name="p-inst">
			<h3>Instagram Profile</h3>
		</GridItem>
		<GridItem name="p-bsky">
			<h3>Bluesky Profile</h3>
		</GridItem>
	</Grid>
</Layout>
