---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Grid from "../components/Grid/Grid.astro";
import GridItem from "../components/GridItem/GridItem.astro";
import Profile from "../components/Profile/Profile.astro";
import Experience from "../components/Experience/Experience.astro";
import ProfileImagePath from "../assets/images/profile.webp";
import LinkedInProfilePath from "../assets/images/linkedin.png";
import GithubImagePath from "../assets/images/github.png";
import YoutubeChannel from "../components/YoutubeChannel/YoutubeChannel.astro";
import Social from "../components/Social/Social.astro";
import ChatButton from "../components/Chat/ChatButton.astro";
import YoutubeVideos from "../components/YoutubeVideos/YoutubeVideos.jsx";
import RecentBlogs from "../components/RecentBlogs/RecentBlogs.jsx";
import XImagePath from "../assets/images/x.png";
import BlueSkyImagePath from "../assets/images/bluesky.png";
---

<Layout title={ SITE_TITLE }>
	<Grid>
		<GridItem name="p-info">
			<Profile
				title="I'm Yash Kukreja"
				description="Software Engineer and Content Creator."
				image={ ProfileImagePath }
			/>
		</GridItem>
		<GridItem name="p-expn">
			<Experience
				title="Experience"
				experiences={
					[
						{
							company: "rtCamp",
							role: "Software Engineer",
							duration: "2023 - Present",
							description: ["Worked with a leading enterprise travel company to craft and enhance their user-facing website.","Technologies: WordPress & Gutenberg, TypeScript, SCSS and Blade."],
							technologies: ["WordPress & Gutenberg", "TypeScript", "SCSS", "Blade"]
						},
						{
							company: "Youtube",
							role: "Content Creation",
							duration: "2020 - 2022 -- Break -- 2025 - Present",
							description: ["Creating content around Software Engineering, Web Development, and Tech."],
							technologies: ["Video Production", "Content Strategy"]
						}
					]
				}
			/>
		</GridItem>
		<GridItem name="yt-cnt">
			<h3>Latest Youtube Content</h3>
			<YoutubeVideos client:only="react" />
		</GridItem>
		<GridItem name="yt-chn" url="https://www.youtube.com/@howsthecode">
			<YoutubeChannel
				title="How's the Code?"
				description="I create content around Software Engineering, Web Development, and Tech!"
			/>
		</GridItem>
		<GridItem name="ai-cht" url="/chat">
			<ChatButton />
		</GridItem>
		<GridItem name="bl-cnt">
			<h3>Blog Content</h3>
			<RecentBlogs client:only="react" />
		</GridItem>
		<GridItem name="p-proj">
			<h3>Personal Project</h3>
			<p>Layout in Progress</p>
		</GridItem>
		<GridItem name="p-lkdn">
			<Social
				link="https://www.linkedin.com/in/yash-kukreja/"
				image={ LinkedInProfilePath }
				text="Follow me on LinkedIn"
			/>
		</GridItem>
		<GridItem name="p-gthb">
			<Social
				link="https://github.com/vampdroid"
				image={ GithubImagePath }
				text="Checkout my Github"
			/>
		</GridItem>
		<GridItem name="p-xcom">
			<Social
				link="https://x.com/yashskukreja"
				image={ XImagePath }
				text="X Profile"
			/>
		</GridItem>
		<GridItem name="p-bsky">
			<Social
				link="https://bsky.app/profile/yashkukreja.bsky.social"
				image={ BlueSkyImagePath }
				text="Bluesky"
			/>
		</GridItem>
	</Grid>
</Layout>
