---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Profile from "../components/Profile/Profile.astro";
import Experience from "../components/Experience/Experience.astro";
import ProfileImagePath from "../assets/images/profile.webp";
import YoutubeChannel from "../components/YoutubeChannel/YoutubeChannel.astro";
import Social from "../components/Social/Social.astro";
import ChatButton from "../components/Chat/ChatButton.astro";
import YoutubeVideos from "../components/YoutubeVideos/YoutubeVideos.astro";
import RecentBlogs from "../components/RecentBlogs/RecentBlogs.astro";
import Grid from "../components/Grid/Grid.astro";
import GridItem from "../components/GridItem/GridItem.astro";
import Socials from "../components/Socials/Socials.astro";
import { Icon } from "astro-icon/components";
---

<Layout title={ SITE_TITLE } isHome={true}>
	<div class="main-container__main">
		<Grid columns={3}>
			<GridItem columnSpan={2}>
				<Profile
					title="I'M YASH KUKREJA"
					description="Software Engineer and Content Creator building for the web."
					image={ ProfileImagePath }
				/>
			</GridItem>
			<GridItem columnSpan={1}>
				<ChatButton />
			</GridItem>
		</Grid>

		<Grid columns={2}>
			<GridItem>
				<Experience
					title="EXPERIENCE"
				experiences={
					[
						{
							company: "rtCamp",
							role: "Software Engineer",
							duration: "2023 - Present",
							description: ["Worked with a leading enterprise travel company to craft and enhance their user-facing website.","Technologies: WordPress & Gutenberg, TypeScript, SCSS and Blade."],
						},
						{
							company: "How's The Code",
							role: "Content Creation",
							duration: "2020 - Present",
							description: ["Creating content around Software Engineering, Web Development, and Tech."],
						}
					]
				}
			/>
			</GridItem>

			<GridItem>
			<div class="home-stack">
				<YoutubeChannel
					title="HOW'S THE CODE?"
					description="I create content around Software Engineering, Web Development, and Tech!"
					url="https://www.youtube.com/@howsthecode"
				/>

				<Socials>
					<Social link="https://www.linkedin.com/in/yash-kukreja/" icon="fa-linkedin" color="#0077b5" text="LinkedIn" />
					<Social link="https://github.com/vampdroid" icon="fa-github" color="inherit" text="GitHub" />
					<Social link="https://x.com/yashskukreja" icon="fa-x-twitter" color="inherit" text="X Profile" />
					<Social link="https://bsky.app/profile/yashkukreja.bsky.social" icon="fa-bluesky" color="#0085ff" text="Bluesky" />
				</Socials>
			</div>
			</GridItem>
		</Grid>

		<div class="card project-card">
			<div>
				<h2 class="font-display project-card__title">
					<Icon name="fa6-solid:code" class="text-primary project-card__icon" /> PERSONAL PROJECT
				</h2>
			</div>
			<div class="project-card__loader-container">
				<div class="project-card__loader-bar">
					<div class="project-card__loader-fill"></div>
				</div>
				<p class="text-muted project-card__text">Layout in Progress...</p>
			</div>
		</div>
	</div>

	<div class="main-container__sidebar">
		<div class="sidebar-section">
			<h2 class="sidebar-section__title">Latest Youtube Content</h2>
			<YoutubeVideos />
		</div>
		
		<div class="sidebar-section">
			<h2 class="sidebar-section__title">Blog Content</h2>
			<RecentBlogs />
		</div>
	</div>
</Layout>

<style lang="scss">
	@use "./_index.scss";
</style>
