.experience {
	height: 100%;

	&__title {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 32px;
		display: flex;
		align-items: center;
		gap: 8px;
		color: var(--color-text);
	}

	&__icon {
		font-size: 14px;
	}

	&__timeline {
		position: relative;
		border-left: 2px solid var(--color-border);
		margin-left: 12px;
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	&__item {
		margin-left: 24px;
		position: relative;

		&:not(:first-child) .experience__duration {
			color: var(--color-muted);
		}
	}

	&__dot {
		position: absolute;
		left: -32.32px;
		top: 4px;
		width: 16px;
		height: 16px;
		border-radius: 9999px;
		border: 4px solid var(--color-card);

		&--primary {
			background-color: var(--color-primary);
		}

		&--secondary {
			background-color: var(--color-muted);
		}
	}

	&__header {
		margin-bottom: 4px;
	}

	&__company {
		font-weight: 700;
		font-size: 18px;
		color: var(--color-text);
	}

	&__role {
		font-size: 14px;
		color: var(--color-muted);
		font-style: italic;
	}

	&__duration {
		font-size: 12px;
		font-family: monospace;
		color: var(--color-primary);
		margin-bottom: 12px;
	}

	&__description {
		margin: 0;
		padding-left: 16px;
		font-size: 14px;
		color: var(--color-muted);
		display: flex;
		flex-direction: column;
		gap: 8px;
		line-height: 1.625;

		li {
			margin: 0;
		}
	}
}