---
---
<div class="blog-post__author card">
	<div class="author-info">
		<h4 class="author-name font-display">Yash Kukreja</h4>
		<p class="author-role text-muted">Software Engineer & Content Creator</p>
		<p class="author-bio">Building for the web and sharing thoughts on engineering, productivity, and tech life.</p>
	</div>
</div>
