---
import "../styles/global.scss";
const { title, highlight } = Astro.props;
---
<html lang="en">
  <head>
	<link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{ title }</title>
  </head>
  <body>
	<main class={ `main ${ highlight ? 'main--highlight' : '' }` }>
		<slot />
	</main>
  </body>
</html>


<style>
	.main--highlight {
		background-color: var(--dark-secondary);
		border-radius: 12px;
		height: 90vh;
		margin: 5vh auto;
	}
</style>