---
import Layout from "./Layout.astro";
import Sidebar from "../components/Sidebar/Sidebar.astro";

const { title } = Astro.props;
---

<Layout title={title}>
	<div class="page-sidebar-col">
		<Sidebar />
	</div>
	<div class="page-content-col">
		<slot />
	</div>
</Layout>

<style lang="scss">
	.page-sidebar-col {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		@media (min-width: 768px) {
			grid-column: span 12 / span 12;
		}

		@media (min-width: 1024px) {
			grid-column: span 3 / span 3;
		}
	}

	.page-content-col {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		min-width: 0; // Prevent overflow on child flex elements

		@media (min-width: 768px) {
			grid-column: span 12 / span 12;
		}

		@media (min-width: 1024px) {
			grid-column: span 9 / span 9;
		}
	}
</style>

<style is:global>
	/* Hide the floating theme toggle on pages with a sidebar because the sidebar has one */
	@media (min-width: 1024px) {
		.page-sidebar-col ~ .theme-toggle,
		body:has(.page-sidebar-col) .theme-toggle {
			display: none;
		}
	}
</style>
