.page-sidebar-col {
	display: flex;
	flex-direction: column;
	gap: 24px;

	@media (min-width: 768px) {
		grid-column: span 12 / span 12;
	}

	@media (min-width: 1024px) {
		grid-column: span 3 / span 3;
		position: sticky;
		top: 48px;
		height: calc(100vh - 96px);
	}
}

.page-content-col {
	display: flex;
	flex-direction: column;
	gap: 32px;
	min-width: 0;

	@media (min-width: 768px) {
		grid-column: span 12 / span 12;
	}

	@media (min-width: 1024px) {
		grid-column: span 9 / span 9;
	}
}