.page-layout {
	&__sidebar {
		display: flex;
		flex-direction: column;
		gap: 24px;
		min-width: 0 !important;
		width: 100% !important;
		max-width: 100% !important;
		overflow: hidden !important;

		@media (min-width: 768px) {
			grid-column: span 12 / span 12;
		}

		@media (min-width: 1024px) {
			grid-column: span 3 / span 3;
			position: sticky;
			top: 48px;
			height: calc(100vh - 96px);
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 32px;
		min-width: 0 !important;
		width: 100% !important;
		max-width: 100% !important;
		overflow: hidden !important;

		@media (min-width: 768px) {
			grid-column: span 12 / span 12;
		}

		@media (min-width: 1024px) {
			grid-column: span 9 / span 9;
		}
	}
}