.recent-blogs {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	&__item {
		text-decoration: none;
		display: flex;
		flex-direction: column;

		&:hover {
			background-color: var(--color-card-hover);

			.recent-blogs__title {
				color: var(--color-primary);
			}

			.recent-blogs__icon-arrow {
				transform: translateX(0.25rem);
			}
		}
	}

	&__date {
		font-size: 0.75rem;
		font-family: monospace;
		color: var(--color-muted);
		margin-bottom: 0.5rem;
		text-transform: uppercase;
	}

	&__title {
		font-size: 1.25rem;
		font-weight: 700;
		margin-bottom: 0.75rem;
		transition: color 0.3s;
		color: var(--color-text);
	}

	&__excerpt {
		font-size: 0.875rem;
		line-height: 1.625;
		margin-bottom: 1rem;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;

		:global(p) {
			margin: 0;
		}
	}

	&__read-more {
		margin-top: auto;
		display: flex;
		align-items: center;
		font-size: 0.75rem;
		font-weight: 500;
		color: var(--color-primary);
	}

	&__icon-arrow {
		margin-left: 0.5rem;
		transition: transform 0.3s;
	}
}