---
import { fetchRecentBlogs } from '../../services/blogs';

const posts = await fetchRecentBlogs(3);

const formatDate = (dateString: string) => {
  return new Date(dateString).toLocaleDateString('en-US', {
    month: 'short',
    day: 'numeric',
    year: 'numeric'
  });
};
---

<div class='recent-blogs'>
	{posts && posts.length > 0 ? (
		posts.map((post: any) => (
			<a class="card recent-blogs__item group" href={`/posts/${post.slug}`}>
				<p class="recent-blogs__date">{formatDate(post.date)}</p>
				<h3 class="font-display recent-blogs__title" set:html={post.title}></h3>
				<div class="recent-blogs__excerpt text-muted" set:html={post.excerpt}></div>
				<div class="recent-blogs__read-more">
					Read Article <i class="fa-solid fa-arrow-right recent-blogs__icon-arrow"></i>
				</div>
			</a>
		))
	) : (
		<p class="text-muted">No blog posts available at the moment.</p>
	)}
</div>

<style lang="scss">
	@use "./RecentBlogs.scss";
</style>
